{% extends 'base.html' %}

{% block content %}
<style>
table,th,td{
    padding-left: 20px;
}

.in {
  background-color: rgba(233,236,239);
  
}

h2 {
    padding-top: 0.25em;
}

h4 {
    padding-top: 0.5em;
}

</style>
<div class="noprint">
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <a class="btn btn-secondary btn-sm" href="javascript:history.back()">Zurück</a>
            <a class="btn btn-secondary btn-sm" href="javascript:self.print()">Drucken</a>
        </div>
    </div>
</div> 
</div>

<div class="in">
<div class="container-fluid">
    <div class="row">
    <div class="col">
        <h2>Laufzettel</h2></div> 
    <div class="col">
        <h4 align="right">Datum <script>date = new Date().toLocaleDateString();document.write(date);</script></h4></div>
    </div>
</div>
</div>

<table width="100%">
    <tbody>
        <tr>
            <td height="70"></td>
        </tr>
        <tr>
            <td width="40%">Anlagenname:</td><td>{{adressen.anlagenname}}</td>
        </tr>
        <tr>
            <td height="30"></td>
        </tr>
        <tr>
            <td width="40%">Name / Vorname:</td><td>{{adressen.name}} {{adressen.vorname}}</td>
        </tr>
        <tr>
            <td height="30"></td>
        </tr>
        <tr>
            <td width="40%">Anschrift:</td><td>{{adressen.anschrift}}</td>
        </tr>
        <tr>
            <td height="30"></td>
        </tr>
        <tr>
            <td width="40%">PLZ / Ort:</td><td>{{adressen.plz}} {{adressen.ort}}</td>
        </tr>
        <tr>
            <td height="30"></td>
        </tr>
        <tr>
            <td width="40%">Telefon:</td><td>{{adressen.telefon}}</td>
        </tr>
        <tr>
            <td height="30"></td>
        </tr>
        <tr>
            <td width="40%">Handy:</td><td>{{adressen.handy}}</td>
        </tr>
        <tr>
            <td height="30"></td>
        </tr>
        <tr>
            <td width="40%">Email:</td><td>{{adressen.emailadresse}}</td>
        </tr>
        <tr>
            <td height="30"></td>
        </tr>
        <tr>
            <td width="40%">Inbetriebnahme:</td><td>{{adressen.inbetriebnahme}}</td>
        </tr>
        <tr>
            <td height="30"></td>
        </tr>
        <tr>
            <td width="40%">Leistung:</td><td>{{adressen.anlagenleistung}} kWp</td>
        </tr>
        <tr>
            <td height="30"></td>
        </tr>
        <tr>
            <td width="40%">Eispeise Vergütung:</td><td>{{adressen.einspeiseverguetung}} &euro;</td>
        </tr>
        <tr>
            <td height="30"></td>
        </tr>
        <tr>
            <td width="40%">Spez Jahresertrag:</td><td>{{adressen.spezifischer_jahresertrag}}</td>
        </tr>
            <tr>
            <td height="30"></td>
        </tr>
        <tr>
            <td width="40%">Eigenverbrauch:</td><td>{{adressen.eigenverbrauch}}</td>
        </tr>
        <tr>
            <td height="30"></td>
        </tr>
        <tr>
            <td width="40%">Begrenzung Wirkleistung:</td><td>{{adressen.wirkbegrenzung}}</td>
        </tr>
        <tr>
            <td height="30"></td>
        </tr>
        <tr>
            <td width="40%">Portal Passwort:</td><td><u><b>{{adressen.passwort_portal}}</b></u></td>
        </tr>
        <tr>
            <td height="30"></td>
        </tr>
        <tr>
            <td width="40%"><u>Wechselrichter</u></td>
        </tr>
        <tr>
            <td height="30"></td>
        </tr>
        <tr>
            <td width="40%">WR1</td><td>{{adressen.wr1}}</td>
        </tr>
        <tr>
            <td height="30"></td>
        </tr>
        <tr>
            <td width="40%">WR2</td><td>{{adressen.wr2}}</td>
        </tr>
        <tr>
            <td height="30"></td>
        </tr>
        <tr>
            <td>Batterie-WR</td><td>{{adressen.batteriewr}}</td>
        </tr>
        <tr>
            <td height="30"></td>
        </tr>
        <tr>
            <td width="40%">Batterie</td><td>{{adressen.batteriemodul}}</td>
        </tr>
        <tr>
            <td height="30"></td>
        </tr>
        <tr>
            <td width="40%">Notizen</td><td>{{adressen.notizen}}</td>
        </tr>
        <tr>
            <td height="30"></td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </tbody>


</table>

<div class="pagebreak"> </div>

<!-- New Page -->

<div class="in">
<div class="container-fluid">
    <div class="row">
        <div class="col">
        <h2>Ihre Zugangsdaten</h2>
        </div>    
    </div>
</div>
</div>
<p></p>
<div>Sehr geehrter Familie {{adressen.name}},<p></p>
    unten sehen Sie Ihre Zugangsdaten für das Sunny Portal der Firma SMA.<br>
    Die Internetseite finden sie unter folgendem Link:<p>
    www.sunnyportal.de<p>
    Dort geben Sie (siehe Bild) Ihre Zugangsdaten ein und gelangen auf das Ihnen<br>
    vorgestellte Portal - hier sehen Sie dann Ihre Anlagendaten.<br>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            E-Mail: {{adressen.emailadresse}}<br>
            Passwort: {{adressen.passwort_portal}}
        </div>
        <div class="col">
            {% load static %}
            <img src="{% static 'adressen/media/sunnyportal.png' %}"/>
        </div>
    </div>
</div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div> Sollten Sie weitere Fragen haben, so kontaktieren Sie uns gerne.</div><p></p>
<p>&nbsp;</p>

<div class="container-fluid">
    <div class="row">
        <div class="col"><u>Ihre Anlagedaten:</u>
<br>
    Standort:{{adressen.anschrift}}, {{adressen.plz}} {{adressen.ort}}</div>

    <div class="col">
    Anlagenleistung: {{adressen.anlagenleistung}} kWp <br>
    Einspeievergütung: {{adressen.einspeiseverguetung}} &euro; <br>
    Inbetriebnahme: {{adressen.inbetriebnahme}}</div>
    </div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="in">
<div class="container-fluid">
    <div class="row">
        <div class="col">
        <h2>Kundeninformation / Bestätigung</h2>
        </div>
    </div>
</div>
</div>    

        <p>&nbsp;</p>
        <div>
            Hiermit bestätige ich, dass die PV Anlage am {{adressen.termin_auf}} Ordnungsgemä&szlig; funktioniert hat.<br>
            Au&szlig;erdem habe ich eine Einweisung über die Funktionen und die Anzeigen des Sunny Portals erhalten.<br>
            Weiter wurde mir ausdrücklich erläutert, die Funktionen unter dem Reiter "Konfiguration" nicht zu benutzen<br>
            oder dort Einstellungen vorzunehmen.<br>
            Sollte ich hier Einstellungen vornehmen und die Anlage dadurch nicht mehr korrekt funktionieren, entstehen durch<br>
            die Wiederherstellung und dem Aufwand weitere Kosten, welche ich zu tragen habe.<p>&nbsp;</p>
            
    <p>&nbsp;</p>
    <p>&nbsp;</p>
<table width="80%">
        <tr>
            <td width="10%">{{adressen.termin_auf}}</td> <td></td> <td></td>
        </tr>
        <tr>
            <td width="10%" style="border-top: 1px solid black;">Datum:</td> <td width="5%"></td> <td width="20%" style="border-top: 1px solid black;">Unterschrift:</td>
        </tr>
</table>


<div class="pagebreak"> </div>

<!-- New Page -->

<div class="in">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
            <h2>Kundeninformation / Bestätigung</h2>
            </div>
        </div>
    </div>
    </div>    

    <div>{{adressen.name}} {{adressen.vorname}} &nbsp;/&nbsp; {{adressen.anschrift}} &nbsp;/&nbsp; {{adressen.plz}} {{adressen.ort}}</div>
    
            <p>&nbsp;</p>
            <div>
                Hiermit bestätige ich, dass die PV Anlage am {{adressen.termin_auf}} Ordnungsgemä&szlig; funktioniert hat.<br>
                Au&szlig;erdem habe ich eine Einweisung über die Funktionen und die Anzeigen des Sunny Portals erhalten.<br>
                Weiter wurde mir ausdrücklich erläutert, die Funktionen unter dem Reiter "Konfiguration" nicht zu benutzen<br>
                oder dort Einstellungen vorzunehmen.<br>
                Sollte ich hier Einstellungen vornehmen und die Anlage dadurch nicht mehr korrekt funktionieren, entstehen durch<br>
                die Wiederherstellung und dem Aufwand weitere Kosten, welche ich zu tragen habe.<p>&nbsp;</p>
                
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    <table width="80%">
            <tr>
                <td width="10%">{{adressen.termin_auf}}</td> <td></td> <td></td>
            </tr>
            <tr>
                <td width="10%" style="border-top: 1px solid black;">Datum:</td> <td width="5%"></td> <td width="20%" style="border-top: 1px solid black;">Unterschrift:</td>
            </tr>
    </table>

{% endblock content %}
